.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  z-index: -1;
  background-color: #f3f2ef;
}

.profil {
  margin-top: 80px;
}
.profil img {
  width: 100%;
}
.image1 {
  border-radius: 10px 10px 0% 0%;
}
.image2 {
  transform: scale(0.4);
  border-radius: 50%;
  margin-top: -50%;
}
.nom {
  background-color: #ffffff;
  padding-top: 35%;
  margin-top: -50%;
  padding-bottom: 10%;
}
.nom h3 {
  margin: 0;
}
.nom h5 {
  margin: 0;
}
.vue {
  background-color: #ffffff;
  padding-top: 5%;
  margin-top: 1%;
  padding-bottom: 10%;
  text-align: left;
}

.vue h5 {
  margin: 0;
}
